<a href="https://colab.research.google.com/github/barBraude/final_project/blob/confusion-matrix/Prediction_Of_CVD_Risk_Following__A_Sedentary_Lifestyle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
df= pd.read_csv("/content/gdrive/MyDrive/Final project Bar &Rinat/datasets and papers/datasets/mockdata.csv")

Mounted at /content/gdrive

# **Data Preparation**

 **Remove the columns that their mean is less then 15%**

In [ ]:
# cols_to_remove - choose all the colums that their meas is bigger then 0.15
cols_to_remove = np.where(df.isna().mean() > 0.15)[0]
df1 = df.iloc[:,np.setdiff1d(np.arange(0,df.shape[1]), cols_to_remove)]
df1

,CHRONO_4_CAT,AGE,RESIDENCE,BODY_FAT,WHOLE_BODY_FAT,WHOLE_BODY_FATFREE,SEASON_ASSESS,DRIVE,SUMMER,WINTER,...,BP_MEDS_ALL,SYS_BP_AUTO,DIA_BP_AUTO,ALCOHOL_STATUS,ALCOHOL_INTAKE,FRUIT_VEG,FRUITVEG_REC,N,FULL_CVD_RISK,DRIVE_HRS
0,3,43,1.0,36.8,26.1,44.8,2,2.0,3.0,0.5,...,0,119,71,2.0,3.0,1.333333,0.0,1,0.164995,2
1,3,46,1.0,43.5,51.7,67.2,1,1.0,3.0,1.0,...,1,142,92,2.0,2.0,3.000000,0.0,2,0.505950,1
2,2,47,1.0,31.8,18.3,39.2,4,1.0,1.0,0.5,...,0,177,95,2.0,1.0,1.833333,0.0,3,0.307337,1
3,2,63,2.0,37.2,27.0,45.6,4,2.0,3.0,1.0,...,1,129,78,2.0,3.0,5.000000,1.0,4,0.535705,2
4,4,54,1.0,36.9,24.7,42.3,3,1.0,0.5,0.5,...,0,119,72,2.0,2.0,4.333333,0.0,5,0.281880,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1,69,1.0,26.5,17.2,47.6,4,0.0,2.0,1.0,...,0,134,86,2.0,3.0,3.333333,0.0,4996,0.569880,0
4996,4,70,1.0,35.0,39.4,73.1,4,0.0,0.5,0.5,...,0,134,91,2.0,4.0,2.333333,0.0,4997,0.750447,0
4997,1,63,1.0,28.0,23.8,61.3,2,0.0,6.0,4.0,...,1,142,85,2.0,2.0,4.000000,0.0,4998,0.730383,0
4998,1,62,1.0,44.4,38.2,47.8,3,1.0,5.0,0.5,...,0,168,89,2.0,4.0,4.333333,0.0,4999,0.600544,1
4999,1,67,1.0,41.4,30.0,42.4,1,2.0,5.0,5.0,...,0,149,84,2.0,4.0,5.666667,1.0,5000,0.501944,2

In [ ]:
cols_to_remove

array([ 6,  7,  9, 33, 35, 37, 38, 50, 51, 56, 57])

**Remove the rows that their mean is less then 15%**

In [ ]:
rows_to_remove = np.where(df1.isna().mean(axis = 1) > 0.15)[0]
df2 = df1.iloc[np.setdiff1d(np.arange(0,df1.shape[0]), rows_to_remove), :]
df2

,CHRONO_4_CAT,AGE,RESIDENCE,BODY_FAT,WHOLE_BODY_FAT,WHOLE_BODY_FATFREE,SEASON_ASSESS,DRIVE,SUMMER,WINTER,...,BP_MEDS_ALL,SYS_BP_AUTO,DIA_BP_AUTO,ALCOHOL_STATUS,ALCOHOL_INTAKE,FRUIT_VEG,FRUITVEG_REC,N,FULL_CVD_RISK,DRIVE_HRS
0,3,43,1.0,36.8,26.1,44.8,2,2.0,3.0,0.5,...,0,119,71,2.0,3.0,1.333333,0.0,1,0.164995,2
1,3,46,1.0,43.5,51.7,67.2,1,1.0,3.0,1.0,...,1,142,92,2.0,2.0,3.000000,0.0,2,0.505950,1
2,2,47,1.0,31.8,18.3,39.2,4,1.0,1.0,0.5,...,0,177,95,2.0,1.0,1.833333,0.0,3,0.307337,1
3,2,63,2.0,37.2,27.0,45.6,4,2.0,3.0,1.0,...,1,129,78,2.0,3.0,5.000000,1.0,4,0.535705,2
4,4,54,1.0,36.9,24.7,42.3,3,1.0,0.5,0.5,...,0,119,72,2.0,2.0,4.333333,0.0,5,0.281880,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1,69,1.0,26.5,17.2,47.6,4,0.0,2.0,1.0,...,0,134,86,2.0,3.0,3.333333,0.0,4996,0.569880,0
4996,4,70,1.0,35.0,39.4,73.1,4,0.0,0.5,0.5,...,0,134,91,2.0,4.0,2.333333,0.0,4997,0.750447,0
4997,1,63,1.0,28.0,23.8,61.3,2,0.0,6.0,4.0,...,1,142,85,2.0,2.0,4.000000,0.0,4998,0.730383,0
4998,1,62,1.0,44.4,38.2,47.8,3,1.0,5.0,0.5,...,0,168,89,2.0,4.0,4.333333,0.0,4999,0.600544,1
4999,1,67,1.0,41.4,30.0,42.4,1,2.0,5.0,5.0,...,0,149,84,2.0,4.0,5.666667,1.0,5000,0.501944,2

**Remove the rows that contains NULL values**

In [ ]:
df2 = df2.dropna()

**The features chosen for the rest of the process**

In [ ]:
cols = [ 'AGE','BODY_FAT', 'WHOLE_BODY_FATFREE', 'DRIVE', 
        'TV_HRS', 'COMP_HRS', 'BMI','SEX', 'SLEEP', 
        'BMI_CAT','SMOKE', 'WALK_DAYS', 'DUR_WALK', 
        'MOD_DAYS', 'VIG_DAYS', 'TOTAL_WALK', 'DRIVE_HRS',
        'DIA_BP_AUTO']

**A scale of the risk score**

In [ ]:
X = df2[cols]
y = pd.cut(df2['FULL_CVD_RISK'], bins = [0, 0.333, 0.666, 1], labels = ['Low', 'Medium', 'High'])

In [ ]:
X.shape

(3560, 18)

In [ ]:
label_Low = np.where(y == 'Low')
len(label_Low[0])

938

In [ ]:
label_Medium = np.where(y == 'Medium')
len(label_Medium[0])

1956

In [ ]:
label_High = np.where(y == 'High')
len(label_High[0])

666

# **Evaluation and Analysis**

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, train_test_split, RandomizedSearchCV

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

**splitting to train (80%) and test (20%) sets**

*   X - is the values
*   y - is the labels

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

**Standardize features by removing the mean and scaling to unit variance.**

In [ ]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled.size

51264

In [ ]:
y_test

130        Low
4571    Medium
2570    Medium
682     Medium
1423    Medium
         ...
1728       Low
3617       Low
1840      High
1903      High
1458    Medium
Name: FULL_CVD_RISK, Length: 712, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [ ]:
X_test_scaled

array([[ 0.5434426 ,  0.32428296, -1.32968765, ...,  3.59046117,
        -0.66119575, -1.1581307 ],
       [-0.08255826, -0.69335826,  0.20422617, ..., -0.49233182,
         0.14216837,  0.16799397],
       [-1.08415963, -1.54139262,  0.15281006, ..., -0.75744825,
         0.14216837, -0.77923794],
       ...,
       [ 1.04424329, -1.88060636,  0.22136487, ..., -0.30675032,
         0.14216837,  2.25190418],
       [-0.3329586 ,  0.05775788,  1.61816907, ...,  0.09092432,
         0.94553248,  1.49411865],
       [ 0.66864277,  2.11726988, -0.74697178, ...,  1.36348318,
        -0.66119575, -1.34757709]])

# **SVM**

In [ ]:
from sklearn.svm import SVC
svm = SVC(probability=True, max_iter=1000, random_state=1) # We must restrict the number of iterations
parameters = {'C': [1, 10, 50, 100, 150, 200, 300],
              'kernel': ['linear', 'poly', 'rbf'],
              'degree': np.arange(2,6,1),
              'gamma': 10**np.arange(-5, 0, 1, dtype=np.float)}

<ipython-input-19-bdc142a2cac3>:6: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'gamma': 10**np.arange(-5, 0, 1, dtype=np.float)}

In [ ]:
parameters

{'C': [1, 10, 50, 100, 150, 200, 300],
 'kernel': ['linear', 'poly', 'rbf'],
 'degree': array([2, 3, 4, 5]),
 'gamma': array([1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01])}

## **Build The SVM model**

**Create the grid**

GridSearchCV - Exhaustive search over specified parameter values for an estimator.

In [ ]:
svm_cv = GridSearchCV(svm, param_grid=parameters, cv=10, 
                             n_jobs=-1, verbose=10).fit(X_train_scaled, y_train)

Fitting 10 folds for each of 420 candidates, totalling 4200 fits

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:284: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(

In [ ]:
svm_cv.best_params_
# Note that degree is meaningless in 'rbf' kernel

{'C': 150, 'degree': 2, 'gamma': 0.001, 'kernel': 'rbf'}

In [ ]:
svm_cv.best_score_

0.8219743019520633

In [ ]:
svm_cv.n_features_in_

18

**Save the model**

In [ ]:
# Save the Modle to file in the current working directory
import pickle
#NEED TO CHANGE THE FILE NAME EACH TIME WHEN DUMP
Pkl_Filename = "y_test.csv"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(y_test, file)

**Prediction**

In [ ]:
res= svm_cv.best_estimator_.predict(X_test_scaled)
res[0]

'Meduim'

In [ ]:
test = pd.Series(y_test).array
test[0]

'Low'

In [ ]:
np.mean(svm_cv.best_estimator_.predict(X_test_scaled) == y_test)

0.8286516853932584

# **Logitic  Regression**

**Create the grid**

In [ ]:
# Regularization is a technique used to reduce the errors by fitting the function appropriately on the given training set and avoid overfitting. 

# penalty = ["l1", "l2", "elasticnet", "none"]
penalty = ['none','l2', 'l1']
C = np.linspace(0.01, 100, 25)


# Create the grid
logreg_grid = {"penalty": penalty,
               "C": C
               }
logreg_grid

# **Build the LR model**

In [ ]:
logreg = LogisticRegression(random_state=1, multi_class = 'multinomial', solver = 'saga', max_iter = 1000)

logreg_cv = GridSearchCV(logreg, logreg_grid, n_jobs = -1, cv = 10).fit(X_train_scaled, y_train)

In [ ]:
model = logreg_cv.best_score_

In [ ]:
logreg_cv.best_params_

In [ ]:
logreg_cv.n_features_in_

**plot the features score**

In [ ]:
#These coefficients can provide the basis for a crude feature importance score
importance = model.coef_[0]
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f col:%s' % (i,v,cols[i]))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

**Prediction**

In [ ]:
res = logreg_cv.best_estimator_.predict(X_test_scaled)

In [ ]:
np.mean(logreg_cv.best_estimator_.predict(X_test_scaled) == y_test)

# **Random Forest**

# **k-nearest neighbors**

**Create the grid and load the model**

In [ ]:
n_neighbors = np.arange(3, 99, 2)
p = [1,2]

# Create the grid
KNN_grid = {'n_neighbors': n_neighbors, "p":p}
print(KNN_grid)
KNN = KNeighborsClassifier(n_neighbors)
KNN_cv = GridSearchCV(KNN, KNN_grid, n_jobs = -1, cv = 10).fit(X_train_scaled, y_train)

**Prediction**

In [ ]:
KNN_cv.best_score_

In [ ]:
model = KNN_cv.best_params_

In [ ]:
KNN_cv.n_features_in_

In [ ]:
res= KNN_cv.best_estimator_.predict(X_test_scaled)
res[10]

In [ ]:
np.mean(KNN_cv.best_estimator_.predict(X_test_scaled) == y_test)

Accuracy classification score

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))